@font-face {
    font-family: Major-Mono;
    src: url("fonts/MajorMonoDisplay-Regular.ttf");
}

@font-face {
    font-family: Source-Code-Display;
    src: url("fonts/SourceCodePro-Black.ttf");
}

@font-face {
    font-family: Source-Code-Regular;
    src: url("fonts/SourceCodePro-Regular.ttf");
}

:root {
    --centered-width: 70%;
    --max-width: min(80vw, 40em);
    --dark-color: #303030;
    --light-color: #CBEBD8;
    --highlight-color: whitesmoke;
    --link-color: lightgreen;
    --header-font-size: max(1.5pc, 4vmin);
    --paragraph-font-size: max(0.75pc, 2vmin);
    --portfolio-font-size: 9vh;
}

* {
    font-family: Source-Code-Regular, sans-serif;
    color: var(--light-color);
    line-height: 1.5em;
}

#portfolio {
    font-family: Source-Code-Display, "Source Code Pro", sans-serif;
    font-size: var(--portfolio-font-size);
    opacity: 0;
    letter-spacing: 0.6em;
    position: fixed;
    transform: rotate(-90deg);
    top: 32vh;
    left: -4.2em;
}

#body-container {
    font-size: var(--paragraph-font-size);
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 0 var(--portfolio-font-size) 0 calc(var(--portfolio-font-size) * 2.5);
    /*margin: 0 auto 0 auto;*/
}

hr {
    width: 100%;
    max-width: var(--max-width);
    opacity: 50%;
}

#logo {
    display: block;
    height: 12vh;
    min-height: 64px;
    margin: 2pc auto 2pc auto;
}

body {
    background-color: var(--dark-color);
}

h1, h2, h3 {
    color: var(--highlight-color);
    font-size: var(--header-font-size);
}

p {
    font-size: var(--paragraph-font-size);
}

a {
    color: var(--link-color);
}

@media screen and (max-aspect-ratio: 1 / 1) {
    #portfolio {
        visibility: hidden;
    }

    #body-container {
        width: var(--centered-width);
        margin-left: auto;
        margin-right: auto;
    }
}