:root {
    --standard-width: 60vmin;
}

* {
    font-family: Consolas, sans-serif;
    text-align: center;
    color: #CBEBD8;
}

#logo {
    margin: 2pc;
}

body {
    background-color: #303030;
}

h1, h2, h3 {
    color: whitesmoke;
    font-size: max(2pc, 4vmin);
}

p {
    font-size: max(1pc, 2vmin);
}

a {
    color: lightgreen;
}

#body-container {
    display: flex;
    flex-direction: column;
}

.centered {
    width: var(--standard-width);
    margin: auto;
}

hr {
    width: var(--standard-width);
}