* {
    font-family: "Arial", sans-serif;
    margin: 0;
}

#img-background {
    position: fixed;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -1;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 165, 0, .2);
    padding: 1pc 2pc;
}

nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon {
    width: 4pc;
    height: 4pc;
    margin-right: 2pc;
}

h1 {
     font-family: "Arial Black", sans-serif;
     font-size: 24pt;
     letter-spacing: 3pt;
 }

nav > div > a {
    font-family: "Arial Black", sans-serif;
    font-size: x-large;
    color: rgb(60, 85, 40);
    text-decoration: none;
    padding: 1em;
}

nav > div > a:hover {
    color: black;
}

article {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3pc;
    border-radius: 1pc;
    margin: 4pc auto;
    width: 80%;
    max-width: 60ex;

    font-size: 14pt;
    line-height: 20pt;
}