<footer class="d-flex align-items-center flex-column mt-4">
  <div class="d-flex justify-content-between my-3">
    <a class="mx-2" href="mailto:rylanschubkegel@gmail.com"><i class="fa-solid fa-envelope fa-2xl"></i></a>
    <a class="mx-2" href="https://www.linkedin.com/in/rschubkegel/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
    <a class="mx-2" href="https://github.com/rschubkegel/"><i class="fa-brands fa-github-square fa-2xl"></i></a>
  </div>
  <p class="text-center">
    © Rylan Schubkegel 2022
  </p>
</footer>