$max-width: 43rem;
$colors-dark: (
  "fg-bold": #f5f5f5,
  "fg-mild": #cbebd8,
  "splash":  #90ee90,
  "bg-mild": #303030,
  "bg-bold": #262626,
);
$colors-light: (
  "fg-bold": #272e21,
  "fg-mild": #40423c,
  "splash":  #288d28,
  "bg-mild": #fcfffc,
  "bg-bold": #fcfffc,
);

body {
  display: flex;
  font-size: 13pt;
  line-height: 1.8em;

  // SVG background
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  @media (prefers-color-scheme: dark) {
    color: map-get($map: $colors-dark, $key: "fg-mild");
    background-color: map-get($map: $colors-dark, $key: "bg-bold");
    background-image: url("../images/bg-waves-dark.svg");
  }
  @media (prefers-color-scheme: light) {
    color: map-get($map: $colors-light, $key: "fg-mild");
    background-color: map-get($map: $colors-light, $key: "bg-bold");
    background-image: url("../images/bg-waves-light.svg");
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.7rem 0;
  @media (prefers-color-scheme: dark) {
    color: map-get($map: $colors-dark, $key: "fg-bold");
  }
  @media (prefers-color-scheme: light) {
    color: map-get($map: $colors-light, $key: "fg-bold");
  }
}

a {
  @media (prefers-color-scheme: dark) {
    color: map-get($map: $colors-dark, $key: "splash");
  }
  @media (prefers-color-scheme: light) {
    color: map-get($map: $colors-light, $key: "splash");
  }
  transition: color 2s ease-out;
}

a:hover {
  @media (prefers-color-scheme: dark) {
    color: map-get($map: $colors-dark, $key: "fg-bold");
  }
  @media (prefers-color-scheme: light) {
    color: map-get($map: $colors-light, $key: "fg-bold");
  }
  transition: color 500ms;
}

abbr:hover {
  @media (prefers-color-scheme: dark) {
    color: map-get($map: $colors-dark, $key: "fg-bold");
  }
  @media (prefers-color-scheme: light) {
    color: map-get($map: $colors-light, $key: "fg-bold");
  }
}

ul {
  padding: 0;
  list-style-position: inside;
}

img {
  width: 100%;
  margin: 0.25rem 0;
}

footer i {
  transition: transform ease-out 50ms;
  transform: rotate(0.0turn);
}

footer i:hover {
  // animate!
  @keyframes shake {
    from { transform: rotate(0.0turn); }
    25% { transform: rotate(0.02turn); }
    75% { transform: rotate(-0.02turn); }
    to { transform: rotate(0.0turn); }
  }
  animation: shake 200ms cubic-bezier(.55, 0, .45, 1) forwards;
}

.logo {
  @media (prefers-color-scheme: dark) {
    color: map-get($map: $colors-dark, $key: "fg-mild");
  }
  @media (prefers-color-scheme: light) {
    color: map-get($map: $colors-light, $key: "fg-mild");
  }
  div {
    min-width: 8rem;
    max-width: 12rem;
    @media (prefers-color-scheme: dark) {
      fill: map-get($map: $colors-dark, $key: "splash");
    }
    @media (prefers-color-scheme: light) {
      fill: map-get($map: $colors-light, $key: "splash");
    }
  }

  // uncomment below to animate logo 🙂
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  path {
    @media (prefers-color-scheme: dark) {
      stroke: map-get($map: $colors-dark, $key: "fg-bold");
    }
    @media (prefers-color-scheme: light) {
      stroke: map-get($map: $colors-light, $key: "fg-bold");
    }
    stroke-linejoin: miter;
    stroke-width: 3px;
    stroke-dasharray: 750;
    stroke-dashoffset: 750;
    transition: stroke-dashoffset 1s ease-in-out;
  }
  :hover path {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 2s ease-in-out 0.5s;
  }
}

.container {
  @media (prefers-color-scheme: dark) {
    background-color: map-get($map: $colors-dark, $key: "bg-mild");
    box-shadow: 0 0 2rem map-get($map: $colors-dark, $key: "bg-bold");
  }
  @media (prefers-color-scheme: light) {
    background-color: map-get($map: $colors-light, $key: "bg-mild");
    box-shadow: 0 0 2rem map-get($map: $colors-light, $key: "bg-bold");
  }
  max-width: $max-width;
  padding: 2rem;
}

.row {
  padding-bottom: 0.25rem;
}

.header-link {
  vertical-align: middle;
  display: inline-block;
  font-size: 55%;
  text-decoration: dotted;
  font-style: italic;
  @media (prefers-color-scheme: dark) {
    background-color: map-get($map: $colors-dark, $key: "bg-bold");
  }
  @media (prefers-color-scheme: light) {
    background-color: map-get($map: $colors-light, $key: "bg-bold");
  }
  border-radius: 0.5em;
  padding: 0.2em 0.4em;
  margin-left: 0.5rem;
  transition: transform 500ms ease-out;
}

.header-link:hover {
  // animate!
  @keyframes bounce {
    from { transform: translateY(0em); }
    25% { transform: translateY(-0.2em); transform: scale(1.1); }
    to { transform: translateY(0em); }
  }
  animation: bounce 250ms ease-out forwards;
}

.copy-notification {
  visibility: hidden;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 0.5em;
  border-width: 0.2em;
  border-style: solid;
  @media (prefers-color-scheme: dark) {
    background-color: map-get($map: $colors-dark, $key: "splash");
    border-color: map-get($map: $colors-dark, $key: "bg-mild");
  }
  @media (prefers-color-scheme: light) {
    background-color: map-get($map: $colors-light, $key: "splash");
    border-color: map-get($map: $colors-light, $key: "bg-mild");
  }
  p {
    font-size: 85%;
    margin: 0;
    @media (prefers-color-scheme: dark) {
      color: map-get($map: $colors-dark, $key: "bg-bold");
    }
    @media (prefers-color-scheme: light) {
      color: map-get($map: $colors-light, $key: "bg-bold");
    }
  }
}