:root {
    --color-dark-ghost: rgba(48, 48, 48, 0.85);
}

@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Black;
    src: url("fonts/Raleway-Black.ttf");
}

* {
    color: antiquewhite;
    font-family: Raleway, sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-dark-ghost) url("imgs/falls-1.jpg") no-repeat fixed center;
    background-size: cover;
    display: grid;
}

.page-wrapper {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-rows: 100vh auto auto auto;
    grid-template-columns: 50% 50%;
    grid-row-gap: 10vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* a big bold title */
h1 {
    color: white;
    text-transform: uppercase;
    font-family: Raleway-Black, "Arial Black", sans-serif;
    font-size: min(23.5vh, 25vw);
    letter-spacing: min(6vh, 6vw);
    word-wrap: break-word;
    position: absolute;
    width: min(70vh, 75vw);
    left: -1vmin;
    top: -5vmin;
    margin: 0;
    padding: 0;
}

header > h2 {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
}

/* the image to the right of the title */
#zen-summary {
    background-image: url("imgs/falls-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    transform: scale(-1, -1);
    top: 10vh;
    height: 80vh;
    left: 70vh;
    width: calc(100vw - 80vh);
    margin: 0 10vw 0 0;
}

/* a cheat-y way to get another img on the page */
#zen-summary > p {
    visibility: hidden;
}

.intro, .main, .sidebar {
    grid-column: 0;
    background-color: var(--color-dark-ghost);
    margin: 0 10vmin 0 10vmin;
    padding: 1vmin 5vmin 3vmin 5vmin;
    width: 70%;
    max-width: 40pc;
}

.intro {
    grid-area: 2 / 1 / span 1 / span 1;
}

.main {
    grid-area: 2 / 2 / span 2 / span 1;
}

.sidebar {
    grid-area: 3 / 1 / span 1 / span 1;
}

/* if the screen is to narrow... */
@media screen and (max-aspect-ratio: 5 / 4) {
    /* make the title centered */
    h1 {
        left: calc(50% - (min(68vh, 75vw) / 2.2));
        /* viewport height - height of title - offset*/
        top: calc(42vh - (min(23.5vh, 25vw) * 2));
    }

    /* remove the additional img */
    #zen-summary {
        visibility: hidden;
        left: 0;
    }
}

a:link {
    color: mediumseagreen;
}

a:visited {
    color: olivedrab;
}

a:hover, a:focus, a:active {
    color: lawngreen;
}