:root {
    --color-dark-ghost: rgba(48, 48, 48, 0.85);
}

@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Black;
    src: url("fonts/Raleway-Black.ttf");
}

* {
    color: antiquewhite;
    font-family: Raleway, sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-dark-ghost) url("imgs/falls-1.jpg") no-repeat fixed center;
    background-size: cover;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: Raleway-Black, "Arial Black", sans-serif;
    font-size: 16vmax;
    letter-spacing: 5vmax;
    word-wrap: break-word;
    position: fixed;
    width: 64vmax;
    left: -1vmax;
    bottom: -4vmax;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    background-color: var(--color-dark-ghost);
    position: fixed;
    left: 50vmax;
    bottom: 0;
    width: auto;
    margin: 0;
    padding: 2%;
}

@media screen and (min-aspect-ratio: 5 / 4) {
    h1 {
        font-size: 20vmin;
        letter-spacing: 6vmin;
        width: 64vmin;
        left: -1vmin;
        bottom: -5vmin;
    }

    .page-wrapper {
        left: 64vmin;
    }
}

a:link {
    color: mediumseagreen;
}

a:visited {
    color: olivedrab;
}

a:hover, a:focus, a:active {
    color: lawngreen;
}

.sidebar {
}