// dark mode
$colors-dark-fg-bold: #f5f5f5
$colors-dark-fg-mild: #cbebd8
$colors-dark-splash:  #90ee90
$colors-dark-bg-mild: #303030
$colors-dark-bg-bold: #262626

// light mode
$colors-light-fg-bold: #272e21
$colors-light-fg-mild: #40423c
$colors-light-splash:  #307230
$colors-light-bg-mild: #fefffe
$colors-light-bg-bold: #fafcfa
