// https://coolors.co/3dd650-0a7d18-2b3129-1c1d18-e0c89c-fff9e6
$colors-fg-mild: #E0C89C
$colors-fg-bold: #FFF9E6
$colors-splash-mild:  #0A7D18
$colors-splash-bold:  #3DD650
$colors-bg-mild: #2B3129
$colors-bg-bold: #1C1D18
