/**** CONSTANTS AND DEFAULTS ****/

@import "colors"
@import "fonts"

@mixin mid-break
  @media screen and (max-width: 65rem)
    @content

@mixin small-break
  @media screen and (max-width: 55rem)
    @content

@mixin mini-break
  @media screen and (max-width: 500px)
    @content

*
  font-size: 14pt
  @include mid-break
    font-size: 13pt
  @include small-break
    font-size: 12pt
  color: $colors-fg-mild


/**** TAG SELECTORS ****/

body
  background: $colors-bg-bold
  margin-left: 15vw
  margin-right: 15vw
  margin-bottom: 6rem
  @include mini-break
    margin-left: 2.8rem
    margin-right: 2.2rem
    margin-bottom: 5rem
  overflow-x: hidden
  z-index: -1 // this prevents "faded" headers from being hidden

main
  max-width: 36rem
  z-index: 0

span
  font-size: inherit

p
  line-height: 1.7rem
  font-family: 'Lustria', serif
  a:hover
    border-bottom: solid .2rem $colors-bg-mild

a
  color: $colors-splash-bold
  text-decoration: none
  &.preview-link
    background: $colors-bg-bold
    opacity: 75%
    font-size: 75%
    font-family: 'Poppins', sans-serif
    white-space: nowrap
    border-radius: .3rem
    border: solid 1px $colors-splash-mild
    padding: .3rem .5rem
    height: fit-content
    position: relative
    left: 1rem
    top: -.5rem
    @include mini-break
      left: 0
      top: 0
      font-size: 85%
      padding: .5rem .7rem
    transition: 500ms
    &:hover
      background: $colors-splash-mild
      color: $colors-bg-bold
      transition: 10ms

footer
  > div
    position: fixed
    right: 1rem
    top: 1rem
    gap: 2rem
    display: flex
    flex-direction: column
    gap: 1.2rem
    @include mini-break
      position: relative
      width: 100%
      top: 0
      right: 0
      padding-top: 4rem
      flex-direction: row
      gap: 2.5rem
      justify-content: center
  path
    fill: $colors-splash-bold
  svg
    opacity: 25%
    transition: 500ms
    &:hover
      opacity: 100%
      transition: 10ms

iframe
  width: 100%
  border: 0
  height: 22rem


/**** CLASS SELECTORS ****/

[class^="flex-"]
  display: flex
  gap: 1.2rem

.flex-col
  flex-direction: column

.flex-row
  flex-direction: row

.logo
  position: absolute
  top: 5vh
  left: calc(15vw - 16vh)
  width: auto
  height: 90vh
  opacity: .1
  @include mini-break
    width: 120vw
    height: auto
    top: calc(50vh - 70vw)
    left: -10vw
    transform: rotate(-20deg)
    opacity: .08
  z-index: -2

.intro
  transform: translateY(20vh)
  margin-bottom: 60vh
  @include mini-break
    transform: translateY(25vh)

.hero
  color: $colors-fg-mild
  font-family: 'Poppins', sans-serif
  font-size: 400%
  @include mini-break
    font-size: 350%
    line-height: 4rem

.highlight
  color: $colors-fg-bold

.resumes-link
  background: $colors-bg-bold
  font-family: 'Bayon', sans-serif
  position: fixed
  bottom: 1rem
  right: 1.5rem
  opacity: 0
  transition: 1.5s
  &:hover
    opacity: 1
    transition: 10ms

.sec-hdr-ctr
  margin-top: 1rem

.section-header
  color: $colors-fg-bold
  font-family: 'Open Sans', sans-serif
  font-size: 200%
  display: inline-block
  margin: 0

.small-section-header
  color: $colors-fg-bold
  font-family: 'Open Sans', sans-serif
  font-size: 150%
  font-style: italic
  display: inline-block
  margin: 1rem 0

.section-header-faded
  color: $colors-bg-mild
  font-family: 'Bayon', sans-serif
  font-size: 800%
  position: relative
  top: 3.5rem
  left: 0
  @include mini-break
    font-size: 600%
    left: 1rem
  display: inline-block
  white-space: nowrap
  overflow: visible
  z-index: -1
  margin: -4rem
  user-select: none

.return-link
  font-family: 'Bayon', sans-serif
  font-size: 140%
  position: absolute
  transform: translateX(-3rem) translateY(1.75rem) rotate(-.25turn)
  @include mini-break
    transform: translateX(-2rem) translateY(1.75rem) rotate(-.25turn)
  color: $colors-splash-mild
  &:hover
    color: $colors-splash-bold

.copy-btn
  position: absolute
  transform: translateX(-2.5rem)
  @include mini-break
    max-width: 1.5rem
    transform: translateX(-2rem)
  opacity: .1
  path
    fill: $colors-fg-bold
  &:hover
    cursor: pointer
    opacity: 1