@import "colors"
@import "fonts"

@mixin small-break
  @media screen and (max-width: 500px)
    @content
$base-font-size: 14pt
$small-font-size: 12pt
$line-height: 1.6rem
$header-font-sizes: (180%, 160%, 140%, 120%)
$main-content-width: 35rem

*
  color: $colors-dark-fg-mild
  line-height: $line-height
  @include small-break
    font-size: $small-font-size
  font-size: $base-font-size
  margin: 0

@for $i from 1 through 4
  h#{$i}
    color: $colors-dark-fg-bold
    font-family: 'Amiko', sans-serif
    font-size: nth($header-font-sizes, $i)
    line-height: calc( 100% + calc( calc( 5 - #{$i} ) * 10% ) )

h1
  text-align: center

h1, h2
  font-weight: 700

h3, h4
  font-weight: 400

body
  background: $colors-dark-bg-mild

p
  font-family: 'Lustria', serif
  text-align: justify

a, a *
  color: $colors-dark-splash
  font-size: inherit

span
  color: inherit
  font-size: inherit

hr
  width: 100%
  border: 1px solid $colors-dark-bg-bold
  margin: 0.5rem 0 1rem

footer
  margin: 1.5rem 0 1rem
  svg
    max-width: 2rem

iframe
  border: 0
  width: 100%
  height: 22rem

[class^="flex-"]
  display: flex
  gap: 1.2rem

.flex-centered
  justify-content: center
  align-items: center

.flex-col
  flex-direction: column

.flex-row
  flex-direction: row

.flex-row-responsive
  flex-direction: row
  @include small-break
    flex-direction: column

.main-content
  max-width: $main-content-width
  padding: 2rem 2rem

.script
  font-family: 'Lora', serif

.preview-container-header
  display: flex
  flex-direction: row
  gap: 0.5rem
  align-items: center
  margin-bottom: 0.5rem
  // @include small-break
  //   display: grid
  //   svg
  //     grid-column: 2
  //     margin: auto
  //     &.solo
  //       grid-row: 1 / span 2
  //       margin-right: 0
  //   h2, h3
  //     grid-row: 1 / span 2
  //   a
  //     grid-column: 2
  //     grid-row: 1

.preview-link
  font-size: 80%
  text-align: center
  white-space: nowrap
  display: inline-block
  margin-left: 0.5rem
  $base-padding: 0.1em
  padding: $base-padding calc( $base-padding * 10 ) calc( $base-padding * 3 )
  border-radius: 0.5em
  background: $colors-dark-bg-bold
  transform: translateY(-0.2em)
  border: 1px solid $colors-dark-bg-bold
  transition: 1s
  &:hover
    border-color: $colors-dark-splash
    transition: 10ms

.table-of-contents
  & > h3
    text-align: center
  & > ul
    list-style-position: outside
    padding-left: 0

.personal-logo
  width: 8rem
  height: auto
  margin-bottom: 0.5rem

.copy-link-btn
  max-width: 1.5rem
  path
    fill: $colors-dark-bg-bold
  &:hover
    cursor: pointer
    path
      fill: $colors-dark-fg-mild

.resumes-link
  position: fixed
  bottom: 0
  left: 0
  opacity: 0
  border: 1px solid $colors-dark-splash
  transition: 1s
  min-width: 2rem
  min-height: 2rem
  padding: 0.5rem 1rem
  &:hover
    opacity: 1
    transition: 10ms
