/**** CONSTANTS AND DEFAULTS ****/

@import "colors"
@import "fonts"

@mixin mid-break
  @media screen and (max-width: 65rem)
    @content

@mixin small-break
  @media screen and (max-width: 55rem)
    @content

*
  font-size: 14pt
  @include mid-break
    font-size: 13pt
  @include small-break
    font-size: 12pt
  color: $colors-fg-mild


/**** TAG SELECTORS ****/

body
  background: $colors-bg-bold
  margin-left: 10rem
  @include mid-break
    margin-left: 10rem
  @include small-break
    margin-left: 8rem
  margin-bottom: 6rem
  margin-right: 6rem
  overflow-x: hidden
  z-index: -1 // this prevents "faded" headers from being hidden

main
  max-width: 36rem
  z-index: 0

span
  font-size: inherit

p
  line-height: 1.7rem
  font-family: 'Lustria', serif
  a:hover
    border-bottom: solid .2rem $colors-bg-mild

a
  color: $colors-splash-bold
  text-decoration: none
  &.preview-link
    background: $colors-bg-bold
    opacity: 75%
    font-size: 75%
    font-family: 'Poppins', sans-serif
    border-radius: .3rem
    border: solid 1px $colors-splash-mild
    padding: .3rem .5rem
    position: relative
    left: 1rem
    top: -.5rem
    transition: 500ms
    &:hover
      background: $colors-splash-mild
      color: $colors-bg-bold
      transition: 10ms

footer
  position: fixed
  right: 1rem
  top: 1rem
  gap: 2rem
  path
    fill: $colors-splash-bold
  svg
    opacity: 25%
    transition: 500ms
    &:hover
      opacity: 100%
      transition: 10ms


/**** CLASS SELECTORS ****/

[class^="flex-"]
  display: flex
  gap: 1.2rem

.flex-col
  flex-direction: column

.flex-row
  flex-direction: row

.logo
  position: absolute
  top: 5vh
  left: calc(15vw - 16vh)
  opacity: .15
  width: auto
  height: 90vh
  z-index: -2

.intro
  transform: translateY(20vh)
  margin-bottom: 60vh

.hero
  color: $colors-fg-mild
  font-family: 'Poppins', sans-serif
  font-size: 400%

.highlight
  color: $colors-fg-bold

.resumes-link
  background: $colors-bg-bold
  font-family: 'Bayon', sans-serif
  position: fixed
  bottom: 1rem
  right: 1.5rem
  opacity: 0
  transition: 1.5s
  &:hover
    opacity: 1
    transition: 10ms

.section-header
  color: $colors-fg-bold
  font-family: 'Open Sans', sans-serif
  font-size: 200%
  display: inline-block
  margin: 1rem 0 0

.small-section-header
  color: $colors-fg-bold
  font-family: 'Open Sans', sans-serif
  font-size: 150%
  font-style: italic
  display: inline-block
  margin: 1rem 0

.section-header-faded
  color: $colors-bg-mild
  font-family: 'Bayon', sans-serif
  font-size: 800%
  display: inline-block
  white-space: nowrap
  overflow: visible
  position: relative
  top: 3.5rem
  left: 0
  z-index: -1
  margin: -4rem
  user-select: none

.return-link
  font-family: 'Bayon', sans-serif
  font-size: 140%
  position: absolute
  transform: translateX(-3rem) translateY(1.75rem) rotate(-.25turn)
  color: $colors-splash-mild
  &:hover
    color: $colors-splash-bold

.copy-btn
  position: absolute
  transform: translateX(-2.5rem) translateY(1.75rem)
  opacity: .1
  path
    fill: $colors-fg-bold
  &:hover
    cursor: pointer
    opacity: 1