:root {
    --size-font-header: 25vmin;
    --color-dark-ghost: rgba(48, 48, 48, 0.9);
    --color-link-default: mediumseagreen;
    --color-link-visited: olivedrab;
    --color-link-hover: lawngreen;
}

@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Black;
    src: url("fonts/Raleway-Black.ttf");
}

/* page defaults */
* {
    color: antiquewhite;
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}

/* background image */
body {
    background: var(--color-dark-ghost) url("imgs/falls-1.jpg") no-repeat fixed center;
    background-size: cover;
}

/* a big bold title */
h1 {
    color: white;
    text-transform: uppercase;
    font-family: Raleway-Black, "Arial Black", sans-serif;
    font-size: var(--size-font-header);
    letter-spacing: 0.3em;
    line-height: 1em;
    word-wrap: break-word;
    width: 3.2em;
    position: absolute;
    left: 0.1em;
    top: -4em;
    margin: 0;
    padding: 0;
}

/* effectively remove subtitle */
header > h2 {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
}

/* the image to the right of the title */
.extra1 {
    background-image: url("imgs/falls-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    transform: scale(-1, -1);
    top: 10vh;
    height: 80vh;
    left: 70vh;
    width: calc(100vw - 80vh);
    margin: 0 10vw 0 0;
}

.page-wrapper {
    position: absolute;
    width: 100%;
    top: 100vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* all elements within the page wrapper */
.page-wrapper > * {
    background-color: var(--color-dark-ghost);
    margin: 10vmin auto 10vmin auto;
    padding: 1vmin 5vmin 3vmin 5vmin;
    width: 70%;
    max-width: 40pc;
}

a:link {
    color: var(--color-link-default);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover, a:focus, a:active {
    color: var(--color-link-hover);
}

/* if the screen is to narrow... */
@media screen and (max-aspect-ratio: 4 / 3) {

    /* make the title centered */
    h1 {

        /* horizontal centering... */
        left: calc(50% - (min(68vh, 75vw) / 2.2));

        /* vertical centering... */
        /* TODO actually center this! */
        top: calc(var(--size-font-header) * -4);/*calc(50vh - 100vh);*/
    }

    /* remove the additional img */
    .extra1 {
        visibility: hidden;
        left: 0;
    }

    /* move page wrapper to bottom of title */
    /* TODO change to just below viewport (top: -100vh;)*/
    .page-wrapper {
        top: calc(var(--size-font-header) * 4);
    }
}