:root
  --color-fg-mild: #ebd9b7
  --color-fg-bold: #fffaeb
  --color-splash-mild: #4ea859
  --color-splash-bold: #2be340
  --color-bg-mild: #41443e
  --color-bg-bold: #242622

@media (prefers-color-scheme: light)
  :root
    --color-fg-mild: #484a45
    --color-fg-bold: #2a2b29
    --color-splash-mild: #498150
    --color-splash-bold: #0e6e19
    --color-bg-mild: #d6d4d1
    --color-bg-bold: #f3f3f3