@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap')
@import './colors'


//////// RESET AND GLOBALS ////////
*
  font-family: inherit
  color: inherit
  box-sizing: border-box
  margin: 0
  padding: 0

:root
  font-size: 12pt
  color: $fg-mild
  font-family: Poppins, Arial, Helvetica, sans-serif

//////// TAG DEFAULTS ////////
body
  background-color: $bg-bold

@for $index from 1 through 6
  h#{$index}
    font-size: #{((6 - $index) * .3) + 1}rem
    color: $fg-bold
    font-weight: 500
    line-height: 1

// on larger screens, scale up header font sizes more
@include break-md
  @for $index from 1 through 6
    h#{$index}
      font-size: #{((6 - $index) * .5) + 1}rem

p
  font-family: Lustria, Georgia, 'Times New Roman', Times serif
  line-height: 1.6

  a
    color: $splash-mild
    border-bottom: .15em solid #0000
    transition: 500ms
    &:hover
      transition: 100ms
      color: $splash-bold
      border-bottom-color: transparentize($splash-bold, .5)

a
  text-decoration: none
  &:hover
    color: $fg-bold


//////// GLOBAL ID STYLES ////////
#content
  position: relative
  box-sizing: content-box
  padding: 2rem
  max-width: 40rem
  margin: auto


//////// LAYOUT UTILITY CLASSES ////////
.flex
  display: flex
  &.center
    justify-content: center
    align-items: center
  &.between
    justify-content: space-between
  &.col
    flex-direction: column

.grid
  display: grid
  &.center
    place-items: center
  @for $index from 1 through 10
    &.col#{$index}
      grid-template-columns: repeat(#{$index}, 1fr)
  @for $index from 2 through 2
    &.expand-md#{$index}
        @include break-md
          grid-template-columns: repeat(#{$index}, 1fr)
  @for $index from 2 through 2
    &.expand-lg#{$index}
        @include break-lg
          grid-template-columns: repeat(#{$index}, 1fr)

@for $index from 1 through 4
  .gap#{$index}
    gap: #{$index}rem

img.full-w
  width: 100%
  height: auto

img.full-h
  width: auto
  height: 100%


//////// COLOR UTILITY CLASSES ////////
.color-fg-mild
  color: $fg-mild

.color-fg-bold
  color: $fg-bold