---
import QrCode from '@components/QrCode.astro'
import RylanIcon from '@components/RylanIcon.astro'
import ToggleableElement from '@components/ToggleableElement.vue'

const isRoot = Astro.url.pathname.length <= 1
---

<div style={{ display: isRoot ? undefined : 'none' }}>
	<ToggleableElement client:load taps={3}>
		<RylanIcon slot="default" />
		<QrCode slot="alternate" />
	</ToggleableElement>
	<p class="note">
		&larr; New here? Tap the logo!
	</p>
</div>

<style lang="scss">
	div {
		display: flex;
		justify-content: center;
		margin: calc(var(--spacing) * 1.5) 0;

		:global(.toggleable-element) {
			width: 8rem;
			height: 8rem;
		}

		.note {
			display: none;
			text-align: right;
		}

		@media (max-width: 30rem) {
			justify-content: space-between;
			align-items: end;
			margin: calc(var(--spacing) * -1.5) 0 var(--spacing) 0;

			:global(.toggleable-element) {
				width: 6rem;
				height: 6rem;
			}

			.note {
				display: revert;
			}
		}
	}
</style>