---
interface Project {
  frontmatter: {
    title: string
    date: string
    link?: string
    description: string
  }
  url: string
  file: string
}

import BaseLayout from "@layouts/BaseLayout.astro"

const projectMap = import.meta.glob<Project>("./*.mdx", { eager: true })
const projects = Object.values(projectMap).sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime())
---

<BaseLayout title="Projects" description="All projects that I've worked on.">
  <h1>Projects</h1>
  <p>This is a list of all projects that I've worked on, sorted by date.</p>
  <hr>
  <div class="projects">
    {
      projects.map(project => (
        <a href={project.url} class="project">
          <h2>{project.frontmatter.title}</h2>
          <p class="project-date">
            {new Date(project.frontmatter.date).toLocaleDateString('en-US', { 
              year: 'numeric', 
              month: 'long', 
              day: 'numeric' 
            })}
          </p>
          <p class="project-description">
            {project.frontmatter.description}
          </p>
        </a>
      ))
    }
  </div>
  <style lang="scss">
    .projects {
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
    }

    .project {
      display: block;
      background: var(--color-bg-strong);
      padding: var(--spacing);
      border-radius: var(--border-radius);
      border: 1px solid var(--color-bg-muted);
      transition: var(--transition);

      &:is(:hover, :focus) {
        background: color-mix(in srgb, var(--color-bg-strong), var(--color-primary-strong) 5%);
        border-color: var(--color-primary-muted);
        transition: var(--transition-short);
      }

      h2 {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        color: var(--color-primary-muted);
      }

      .project-date {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        color: var(--color-fg-muted);
      }

      .project-description {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }
  </style>
</BaseLayout>
