:root {
    --size-font-header-1: 25vmin;
    --size-font-header-3: calc(var(--size-font-normal) * 1.5);
    --size-font-normal: min(15pt, max(1.2vw, 12pt));
    --color-dark-ghost: rgba(48, 48, 48, 0.9);
    --color-link-default: rgb(60, 180, 100);
    --color-link-visited: var(--color-link-default);
    --color-link-hover: lawngreen;
}

@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Black;
    src: url("fonts/Raleway-Black.ttf");
}

/* page defaults */
* {
    color: antiquewhite;
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}

/* background image */
body {
    background: var(--color-dark-ghost) url("imgs/falls-1.jpg") no-repeat fixed center;
    background-size: cover;
}

/* a big bold title */
h1 {
    color: white;
    text-transform: uppercase;
    font-family: Raleway-Black, "Arial Black", sans-serif;
    font-size: var(--size-font-header-1);
    letter-spacing: 0.3em;
    line-height: 1em;
    word-wrap: break-word;
    width: 3.2em;
    position: absolute;
    left: 0.1em;
    top: -4em;
    margin: 0;
    padding: 0;
}

/* effectively remove subtitle */
header > h2 {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
}

/* the image to the right of the title */
.extra1 {
    background-image: url("imgs/falls-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    transform: scale(-1, -1);
    top: 10vh;
    height: 80vh;
    left: calc(var(--size-font-header-1) * 3.1);
    width: calc(100vw - (var(--size-font-header-1) * 3.6));
    margin: 0 10vw 0 0;
}

.page-wrapper {
    font-size: var(--size-font-normal);
    line-height: 1.5em;

    position: absolute;
    top: 100vh;

    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-around;
    align-content: space-between;
}

/* all elements within the page wrapper */
.page-wrapper > * {
    background-color: var(--color-dark-ghost);
    margin: 2em auto;
    padding: 2em 3em;
    border-radius: 1ex;
}

.page-wrapper div {
    margin-bottom: 2em;
}

.summary {
    font-style: italic;
}

.main {
    grid-area: 1 / 2 / span 4 / span 1;
}

.sidebar {
    grid-area: 2 / 1 / span 2 / span 1;
}

/* text-level spacing */
h3 {
    font-size: var(--size-font-header-3);
    letter-spacing: 0.8ex;
    line-height: 1.5em;
    padding-bottom: 1ex;
}

p {
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.2ex;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--color-link-default);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover, a:focus, a:active {
    color: var(--color-link-hover);
}

/* if the screen is to narrow... */
@media screen and (max-aspect-ratio: 8 / 5) {

    /* make the title centered */
    h1 {

        /* horizontal centering... */
        left: calc(50% - (min(68vh, 75vw) / 2.2));

        /* vertical centering... */
        top: calc(var(--size-font-header-1) * -4);/*calc(50vh - 100vh);*/
    }

    /* remove the additional img */
    .extra1 {
        visibility: hidden;
        left: 0;
    }

    /* move page wrapper to bottom of title */
    .page-wrapper {
        top: calc(var(--size-font-header-1) * 4);

        display: flex;
        flex-direction: column;
        padding: calc(var(--size-font-normal) * 2);
    }
}