:root {
    --color-lightest: #FFEEE5;
    --color-light: #FFDCCC;
    --color-tangerine: #F89B81;
    --color-brass: #D29770;
    --color-dark: #8F3D48;
    --color-darkest: #332A2D;
    font-size: 16pt;
}


/* typography */

h1 {
    color: var(--color-lightest);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);

    font-family: 'Playfair Display', serif;
}

.subtitle {
    color: var(--color-tangerine);
    background-color: var(--color-darkest);

    display: inline-block;
    padding: 0.2rem 1rem 0.5rem;

    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.my-bg-light h2 {
    color: var(--color-tangerine);
}

.my-bg-dark h2 {
    color: var(--color-dark);
}

p {
    color: var(--color-darkest);
    font-family: 'Source Serif Pro', serif;
}

.clickable {
    padding: 0.6rem 1rem;

    font-family: 'Open Sans', sans-serif;
    color: var(--color-dark);

    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: -0.2rem -0.2rem 0.6rem rgba(255, 255, 255, 0.7),
                0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.1);

    transition: 100ms box-shadow;
}

.clickable:hover {
    border: 0.1rem solid white;
    box-shadow: -0.2rem -0.2rem 0.6rem rgba(255, 255, 255, 0.6),
                0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
}

.clickable:focus {
    border: 0.1rem solid var(--color-light);
}

.clickable:active {
    border: 0.1rem solid var(--color-dark);
}


/* colors and layouts */

.my-bg-light {
    background-color: var(--color-lightest);
}

.my-bg-dark {
    background-color: var(--color-tangerine);
}

#header {
    width: auto;
    height: 100vh;

    background-image: url("res/pexels-lucie-liz-3957499.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 2rem;
}

#description h2 {
    padding-top: 2rem;
}

#description .clickable {
    margin-bottom: 2rem;
    margin-left: 25%;
    margin-right: 25%;
}

#description .image {
    width: 100%;
    height: 60vmin;

    background-image: url("res/rachel-mcdermott-uGDD_6utGnA-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#benefits {
    padding: 2rem 0;
}

#social {
    padding: 2rem 0;

    text-align: center;
    align-items: center;
    align-content: center;
}

#social button {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}