:root
  --color-fg-muted: #ebd9b7
  --color-fg-strong: #fffaeb
  --color-primary-muted: #4ea859
  --color-primary-strong: #2be340
  --color-bg-muted: #41443e
  --color-bg-strong: #242622

@media (prefers-color-scheme: light)
  :root
    --color-fg-muted: #484a45
    --color-fg-strong: #2a2b29
    --color-primary-muted: #498150
    --color-primary-strong: #0e6e19
    --color-bg-muted: #d6d4d1
    --color-bg-strong: #f3f3f3