---
interface Props {
	description?: string
	frontmatter?: Record<string, any>
	title?: string
}

import '@assets/styles/main.sass';
import MeshGradient from '@components/MeshGradient.astro';
import NoiseTexture from '@components/NoiseTexture.astro';
import TheHead from '@components/TheHead.astro';
import TheHeader from '@components/TheHeader.astro';
import TheToggleableQrLogo from '@components/TheToggleableQrLogo.astro';
import TopOfPageButton from '@components/TopOfPageButton.vue';

const DEFAULT_TITLE = "Rylan Schubkegel's Portfolio"
const DEFAULT_DESCRIPTION = "The pluralistic portfolio of professional and personal projects produced by Rylan Schubkegel."
const { description: _description, frontmatter, title: _title } = Astro.props
const description = _description || frontmatter?.description || DEFAULT_DESCRIPTION
const title = _title || frontmatter?.title || DEFAULT_TITLE
---

<!doctype html>
<html lang="en">
<TheHead description={description} title={title} />
<body>
	<div id="gradient-background" class="fixed">
		<MeshGradient />
	</div>
	<div id="noise-overlay" class="fixed">
		<NoiseTexture />
	</div>
	<div id="full-height-container">
		<TheHeader />
		<main>
			<TheToggleableQrLogo />
			<slot />
		</main>
	</div>
	<footer>
		<TopOfPageButton client:visible />
		<hr>
		<p>&copy; Rylan Schubkegel {new Date().getFullYear()}</p>
	</footer>
</body>
</html>

<style lang="scss">
	html {
		height: 100%;
	}

	body {
		background-color: var(--color-bg-strong);
		padding: var(--spacing);
		overflow-x: hidden;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.fixed {
		position: fixed;
		inset: 0;
		width: 100dvw;
		height: 100dvh;
	}

	#gradient-background {
		z-index: -1000;
	}

	#noise-overlay {
		z-index: 1000;
		pointer-events: none;
		opacity: 0.07;
	}

	#full-height-container {
		width: 100%;
		flex: 1;
	}

	main, footer {
		margin: auto;
		max-width: var(--content-width);
	}

	footer {
		margin-top: calc(var(--spacing) * 2);
		padding: var(--spacing) 0;
		text-align: center;
		width: 100%;
		color: color-mix(in srgb, var(--color-fg-muted), var(--color-bg-muted) 30%);

		:global(button) {
			text-transform: uppercase;
		}

		hr {
			--text-width: 4em;
			margin-top: calc(var(--spacing) * -0.8);
			margin-bottom: calc(var(--spacing) * 1.5);
			clip-path: polygon(-0% 3000%, -0% -3000%, 100% -3000%, 100% 3000%, calc(50% + var(--text-width)) 3000%, calc(50% + var(--text-width)) -2000%, calc(50% - var(--text-width)) -2000%, calc(50% - var(--text-width)) 3000%);
		}
	}
</style>
