:root {
    --color-foreground: #F8EBDD;
    --color-accent: #A1A89F;
    --color-background: #5C797F;
    --color-contrast: #103D4A;
    --color-running: #f2cc8f;
    --color-stopped: #f2cc8f;
    --standard-font-size: max(2.0vmin, 8pt);
    --board-width: max(60vmin, 256px);
    --board-tile-width: 16;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: var(--standard-font-size);
    color: var(--color-foreground);
}

body {
    background-color: var(--color-background);
    /*background-image: url("ocean.jpg");*/
    /*background-repeat: no-repeat;*/
    height: 100vh;
}

#page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

h1 {
    font-size: calc(var(--standard-font-size) * 1.8);
    font-weight: bold;
    padding-bottom: 1.5ex;
}

button, input {
    background-color: var(--color-contrast);
    border: solid 1px var(--color-contrast);
}

input, label {
    padding: 1ex;
    margin-top: 2ex;
}

button {
    padding: 1ex 2ex;
    margin: 0 1ex;
    cursor: pointer;
}

input {
    width: 6em;
}

button:hover, input:hover {
    border-color: var(--color-accent);
}

p {
    padding: 0.5ex 0;
}

a:visited {
    color: var(--color-foreground);
}

a:hover {
    color: var(--color-accent);
}

#info {
    margin: 2em 2em 0 2em;
}

#error-resolution {
    color: var(--color-stopped);
    position: absolute;
    visibility: hidden;
    text-align: left;
    width: 60vw;
}

#board {
    width: var(--board-width);
    margin: 2em 2em 0 2em;
}

#board-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2vmin var(--color-accent);
    margin-bottom: 1ex;
    user-select: none;
}

#board-text {
    margin-left: 1ex;
}

#board-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1em 0;
}

#board-controls > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tile {
    border-style: solid;
    border-color: var(--color-contrast);
    border-width: 2px 0 0 2px;
    cursor: pointer;
    width: calc(var(--board-width) / var(--board-tile-width));
    height: calc(var(--board-width) / var(--board-tile-width));
}

.tile.no-left-border {
    border-left-width: 0;
}

.tile.no-top-border {
    border-top-width: 0;
}

.tile.alive {
    background-color: var(--color-foreground);
}

.tile.dead {
    background-color: var(--color-background);
}

span.running {
    /*color: var(--color-running);*/
    color: var(--color-contrast);
}

span.stopped {
    /*color: var(--color-stopped);*/
    color: var(--color-contrast);
}

/* 600px minimum for standard tile border size */
@media (max-height: 600px), (max-width: 600px) {
    .tile {
        border-width: 1px 0 0 1px;
    }
}

/* 300px minimum for simulation */
@media (max-height: 420px), (max-width: 256px) {
    #board {
        visibility: hidden;
    }

    .tile {
        width: 0;
        height: 0;
    }

    #error-resolution {
        visibility: visible;
    }
}

/* adjust layout depending on screen ration */
@media (max-aspect-ratio: 5 / 4) {
    #info {
        width: min(100%, var(--board-width));
    }

    #page-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.debug-outline {
    outline: red solid 1px;
}