:root {
    --color-foreground: #faf9f9;
    --color-accent: #ffd6ba;
    --color-background: #89b0ae;
    --color-contrast: #555b6e;
    --color-running: #f2cc8f;
    --color-stopped: #f2cc8f;
    --standard-font-size: max(2.4vmin, 8pt);
    --tile-border-width: 2px;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: var(--standard-font-size);
    color: var(--color-foreground);
    outline: red none 1px;
}

body {
    background-color: var(--color-background);
    height: 100vh;
}

#page-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
}

h1 {
    font-size: calc(var(--standard-font-size) * 1.5);
    padding-bottom: 1ex;
    font-weight: bold;
}

button, input {
    background-color: var(--color-contrast);
    border: solid 1px var(--color-contrast);
}

input, label {
    padding: 1ex;
    margin-top: 2ex;
}

button {
    padding: 1ex 2ex;
    cursor: pointer;
}

input {
    width: 6em;
}

button:hover, input:hover {
    border-color: var(--color-accent);
}

p {
    padding: 0.5ex 0;
}

a:visited {
    color: var(--color-foreground);
}

a:hover {
    color: var(--color-accent);
}

#info {
    margin: 2em;
}

#board {
    width: 60vmin;
    margin: 2em 2em 0 2em;
}

#board-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid var(--standard-font-size) var(--color-accent);
    margin-bottom: 1em;
    user-select: none;
}

#error-resolution {
    color: var(--color-stopped);
    position: absolute;
    visibility: hidden;
    text-align: center;
}

#board-controls {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.tile {
    border-style: solid;
    border-color: var(--color-contrast);
    border-width: var(--tile-border-width) 0 0 var(--tile-border-width);
    cursor: pointer;
}

.tile.no-left-border {
    border-left-width: 0;
}

.tile.no-top-border {
    border-top-width: 0;
}

.tile.alive {
    background-color: var(--color-foreground);
}

.tile.dead {
    background-color: var(--color-background);
}

span.running {
    /*color: var(--color-running);*/
    color: var(--color-contrast);
}

span.stopped {
    /*color: var(--color-stopped);*/
    color: var(--color-contrast);
}

/* 400px minimum */
@media (max-height: 400px), (max-width: 400px) {
    #board {
        visibility: hidden;
    }
    #error-resolution {
        visibility: visible;
    }
}