:root {
    --color-foreground: rgb(188, 239, 173);
    --color-accent: rgb(145, 155, 130);
    --color-background: rgb(75, 80, 75);
    --color-contrast: rgb(40, 55, 42);
    --color-running: rgb(52, 205, 40);
    --color-stopped: rgb(227, 140, 129);
    --standard-font-size: max(2.2vmin, 8pt);
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: var(--standard-font-size);
    color: var(--color-foreground);
    outline: red none 1px;
}

body {
    background-color: var(--color-background);
}

h1 {
    font-size: calc(var(--standard-font-size) * 1.5);
    padding: 1ex 0 1ex 0;
}

button, input {
    background-color: var(--color-contrast);
    border: solid 1px var(--color-accent);
}

input, label {
    padding: 1ex;
    margin: 1ex 0;
}

button {
    padding: 1ex 2ex;
    margin: 1ex 1ex 0 1ex;
    cursor: pointer;
}

label {
    font-size: var(--standard-font-size);
}

button:hover {
    border-color: var(--color-foreground);
}

p {
    padding-bottom: 1ex;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60vmin;
    margin: auto;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.tile {
    border-style: solid;
    border-color: var(--color-accent);
    border-width: 1px 0 0 1px;
}

.tile.alive {
    background-color: var(--color-foreground);
}

.tile.dead {
    background-color: var(--color-contrast);
}

span.running {
    color: var(--color-running);
}

span.stopped {
    color: var(--color-stopped);
}

/* TODO set 400px minimum for screen */