---
import { getCollection } from "astro:content"
import SlideshowLayout from "@layouts/SlideshowLayout.astro"

export async function getStaticPaths() {
  const slides = await getCollection("slides")
  return slides.map(slide => ({
    params: { slug: slide.slug },
    props: { slide },
  }))
}

const { slide } = Astro.props
---

<SlideshowLayout title={slide.data.title} description={slide.data.description}>
  <div class="reveal">
    <div class="slides">
      <section data-markdown>
        <textarea data-template>
          {slide.body}
        </textarea>
      </section>
    </div>
  </div>
  <script>
    // @ts-ignore
    import Reveal from "reveal.js"
    // @ts-ignore
    import Markdown from "reveal.js/plugin/markdown/markdown.esm.js"

    let deck = new Reveal({
      plugins: [Markdown],
    })

    deck.initialize()
  </script>
</SlideshowLayout>
