---
import { getCollection } from "astro:content"
import SlideshowLayout from "@layouts/SlideshowLayout.astro"
import "reveal.js/dist/reveal.css"
import "reveal.js/dist/theme/black.css"

export async function getStaticPaths() {
  const slides = await getCollection("slides")
  return slides.map(slide => ({
    params: { slug: slide.slug },
    props: { slide },
  }))
}

const { slide } = Astro.props
---

<script>
  // @ts-ignore no declaration file
  import Reveal from "reveal.js"
  // @ts-ignore no declaration file
  import Markdown from "reveal.js/plugin/markdown/markdown.esm.js"
  new Reveal({ plugins: [Markdown] }).initialize()
</script>

<SlideshowLayout title={slide.data.title} description={slide.data.description}>
  <div class="reveal">
    <div class="slides">
      <section data-markdown>
        <textarea data-template>
          {slide.body}
        </textarea>
      </section>
    </div>
  </div>
</SlideshowLayout>
